* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body{
    height: 5000px;
}

.list-group-item i{
    float: right;
    color: brown;
    cursor: pointer;
    font-size: 20px;
}
.list-group-item i:hover{
    color: #555;
}